body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #d32929;
    padding: 20px;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.about-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.skills-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-content li {
    margin-bottom: 10px;
}

.projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    margin: 20px;
    width: 30%;
}

.project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.resume-content {
    text-align: center;
    padding: 20px;
}

.contact-content {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

